<a href="/">Home</a>
<form method="post" action="collect_data">
<table>
	<tr>
		<td class="entryheading" colspan="2">Enter Details</td>
	<tr>
		<td>Full Name</td>
		<td><input type="text" name="full_name"></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="text" name="email"></td>
	</tr>
	<tr>
		<td>Mentor</td>
		<td><input type="radio" name="mentor" value="true">True |<input type="radio" name="mentor" value="false">False</td>
	</tr>
	<tr>
		<td>Mentee</td>
		<td><input type="radio" name="mentee" value="true">True |<input type="radio" name="mentee" value="false">False</td>
	</tr>
	<tr>
		<td>Device Type</td>
		<td><input type="text" name="device_type"></td>
	</tr>
	<tr>
		<td>fcm_id</td>
		<td><input type="text" name="fcm_id"></td>
	</tr>
		
</table>
<input type="submit" name="submit">
</form>
