<!DOCTYPE html>
<html>
<head>
	<title>Mined Minds Push Notification</title>
	<link href="/css/stylesheet.css" rel="stylesheet">
	<link rel="icon" href="/images/MMmini.jpg">
</head>

<div class="navbar">
	<a href="http://www.minedminds.org" class="left">
		<img src="/images/MMmini.jpg" width="150px" text="MinedMindsLogo"></a>
	<span>Mined Minds Push Notifications</span>
	<a href="http://mentor-mentee-app.herokuapp.com" class="right">
		<img src="/images/MMMentoringLogo.png" width="150px" align="right" text="MMMentoring">
	</a>
</div>

<body>

<%= yield %>

</body>

</html>
