<a href="/">Home</a>

<form method="post" action="multimessage">

<h2>Target Audience for Push Notification</h2>
<p><input type="radio" name="recipient" value="mentors">All Registered Mentors</p>
<p><input type="radio" name="recipient" value="mentees">All Registered Mentees</p>
<p><input type="radio" name="recipient" value="alldevices">All Registered Users</p>
<p></p>
<p>Message</p>
<input type="text" name="message">

<input type="submit" name="submit" value="Send">
</form>

