<h2>Push Notification to Android</h2>
<p>What would you like to do?</p>

<ul>
	<li><a href="/addcontacts">Add Contact</a></li>
	<li><a href="/list">List Contacts</a></li>
	<li><a href="/addmessage">Push Notification to Individual</a></li>
	<li><a href="/listmessages">List Notifications</a></li>
	<li><a href="/sendmulti">Push Notification to Multiple Devices (sends, updates db, no visible status codes yet)</a></li>
	

</ul>


